<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Our Co-Writing Process</h2>
        <!-- <hr class="star-light"> -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>At Woolf.cc, we believe in a co-writing process that affirms our clients are—and will always remain—the authors of their work. </p>

        <p>As your writing partner, we don't merely ghostwrite for you; we think with you. We interview you to identify your goals. We conduct research to build out your narrative. We take the first pen to bring your vision to life. And from there, we work with you to improve each revision until you say it feels just right.</p>
      </div>
      <div class="col-lg-4">
        <p>We've proven our process with keynote speeches delivered under white-hot stage lights and personal toasts shared in the most intimate settings. We've used it to create opinion pieces, book chapters, and blog posts that readers find meaningful and memorable. And we tend to have a lot of fun along the way.</p>

        <p>If that sounds like what you have in mind, then we’re already on our way to being of one mind. Don't hesitate to reach out. We'd love to write with you.</p>
      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="#" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download PDF
        </a>
      </div> -->
    </div>
  </div>
</section>
