<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        {% if site.footer.location %}
        <div class="footer-col col-md-4">
          <h3>{{ site.footer.location }}</h3>
          <p>
            {% for address in site.address %}
            {{ address.line }} <br>
            {% endfor %}
          </p>
        </div>
        {% endif %}
        <div class="footer-col col-lg-12">
          <h3>{{ site.proofpoint-heading }}</h3>
          <p style="max-width: 300px;margin:0 auto;">A few words about Mark's work from past clients and colleagues:</p>
        </div>
        {% for line in site.proofpoints %}
        <div class="footer-col col-md-4">
          <p>{{ line.quote }}</p>
        </div>
        {% endfor %}
        {% if site.footer.social %}
        <div class="footer-col col-md-4">
          <h3>{{ site.footer.social }}</h3>
          <ul class="list-inline">
            {% for network in site.social %}
            <li>
              <a href="{{ network.url }}" class="btn-social btn-outline"><i
                  class="fa-brands fa-fw fa-{{ network.title }}"></i></a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% if site.footer.tagline %}
        <div class="footer-col col-md-4">
          <h3>{{ site.footer.tagline }}</h3>
          <p>{{ site.tagline }}</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% if site.footer.copyright %}
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          markgrindy.com <br>
          USA Central Time Zone<br>
          612-888-2416
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
