<!-- Leadership Section -->
<section class="success" id="leadership">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p style="font-style:italic;">—Writing, Consulting, Workshops—</p>
        <h2>Your Writing Partner</h2>
        <!-- <hr class="star-light"> -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="bio-container">
            <div class="bio-flex"></div>
            <div class="bio-left">
              <img class="bio-image" src="/img/profile.png" alt="Mark">
            </div>
            <!-- <div class="bio-flex"></div> -->
            <!-- <div class="bio-flex-second"></div> -->
            <p class="bio-right">Mark Grindy is a writer, strategist, and presidential campaign veteran. He helps leaders shape the broader conversation by developing their ideas through keynote speeches, opinion pieces, white papers, books, and other strategic narrative material. </p>
            <div class="bio-flex"></div>
        </div>
      </div>
    </div>
    <div class="row hr col-lg-12" ><hr></div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Decision makers in the C-suite, scientists working toward breakthroughs, and start-up entrepreneurs building the next big thing have turned to Mark for writing and counsel. His work has been published by <em>The New York Times</em>, <em>The Wall Street Journal</em>, <em>VentureBeat</em>, <em>Vox</em>, and CNBC. His speeches have influenced CES main stage attendees, Fortune 500 shareholders, and swing state voters. His lines have been delivered by Hall of Famers, award-winning entertainers, and a legend of podcasting.</p>
      </div>
      <div class="col-lg-4">
        <p>As a senior director at West Wing Writers, the world’s preeminent speechwriting and strategy firm, Mark contributed to a national-bestselling book, counseled Fortune 500 executives as they led their organizations through dramatic transformations, and shaped product messaging for the launch of new electric vehicles, streaming services, and mobile devices. PBS News Hour host Gwen Ifill quoted his words without knowing he wrote them—and there’s a chance you’ve done the same.

        </p>
      </div>
      <div class="row hr col-lg-12">
          <hr>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="img/Mark Grindy - Bio.pdf" class="btn btn-lg btn-outline" target="_blank">
          <i class="fa fa-download"></i> Download Full Bio
        </a>
      </div>
    </div>
  </div>
</section>
